
body {
	background: #2f2f2f;
	font-family: Lato;
	font-size: 1.2rem;
	line-height: 1.5;
 }

header{
	text-align: center;
	color: #f2f2f2;
	text-shadow: 2.5px 2.5px #665e63;
	}


img {
	height: auto;
 	max-width: 100%;
  	margin: 0px 0px 5px 0px;
   	padding: 5px;
    display: block;
    border-radius: 0% 10% 0% 10%;
    box-shadow: 5px 5px 10px #665e63;

   
 }


#main {
	display: flex;
	background-color: #ffffff;
	border: 5px outset #065842;   
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 5px;
	font-size: 1rem;
	box-shadow: 0px 2px 10px 3px #665e63;
/*  box-shadow: 0 0 3px 3px inset #999;   */


}


.mainpicbox {
/*	border: solid 2px blue;  */
	display: flex;
	align-content: space-between;
	
}



.picbox {
/*	border: solid 2px red;  */
	margin: 10px;
	flex: 100%;
	max-width: 100%;
	align-content: space-between;
		
}


#img-caption{
/*	border: solid 2px green;  */
	text-align: center;
	font-size: 16px;
	
	
}

/*.textbox {
	border: solid 2px red;

}
*/
#footer {
	text-align: center;
	color: #f2f2f2;
}

#tribute-link {
	color: #3cb371;

}

#tribute-info {
	margin: 0px 10px 0px 20px;
	padding-right: 8px;


}

.justify {
	text-align: justify;
}